body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#sve {
    position: relative;
    border: 2px solid rgb(255, 105, 130);
    width: 300px;
    height: 350px;
    text-align: center;
    background-color: rgb(255, 158, 174);
    border-radius: 7%;
    top: 300px;
}
h1 {
    font-size: 40px;
    color: rgb(255, 53, 86);
}
#username {
    border-radius: 20px;
    border: 2px solid rgb(255, 53, 86);
    cursor: progress;
}
#password {

    border-radius: 20px;
    border: 2px solid rgb(255, 53, 86);
    cursor: progress;
}
